# general
alias gg="exit"
# ignore node_modules folder with grep
alias grep="grep --color=auto --exclude-dir=\node_modules"
alias cprs="tar -czvf" # create gzip archive
alias extr="tar -xzvf" # extract gzip archive
alias wget="wget -c" # resume downloads

# directory navigation
alias cd..="cd .."
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

# package manager

# programming
alias ac="source venv/bin/activate"
alias de="deactivate"

# git
alias gpom="git push -u origin master"
alias gpw="git config credential.helper 'cache --timeout=72000'"

# stardict
alias ger="sdcv -u \"English-German\""
