[core]
    attributesfile = ~/.gitattributes
[diff "common-lisp"]
    xfuncname="^\\((def\\S+\\s+\\S+)"
[diff "elisp"]
    xfuncname="^\\((((def\\S+)|use-package)\\s+\\S+)"
[includeIf "gitdir:~/dotfiles/"]
  path = ~/.gitconfig-github
[includeIf "gitdir:~/common-lisp/"]
  path = ~/.gitconfig-github
[includeIf "gitdir:~/projects/personal/boogs.gitlab.io"]
  path = ~/.gitconfig-gitlab
[includeIf "gitdir:~/projects/"]
  path = ~/.gitconfig-github
[user]
	email = boogs@virginia.edu
	name = Bugrahan Abdulkarim
	signingkey = FE32E2EC5E93703E5E1EBFA5437EC8EA278E5FEF
[credential]
	helper = store
[github]
	user = boogsbunny
[gitlab]
	user = boogs
[url "git@github.com:"]
	insteadOf = https://github.com/
[alias]
	module = submodule update --init --recursive
	tree = worktree add
[safe]
	directory = *
[commit]
	gpgsign = true
[diff]
  external = difft --display inline