#!/usr/bin/env sh

setbg & # background
xset r rate 300 50 & # speed xrate up
unclutter & # remove idle mouse
xcompmgr & # transparency
dunst & # notifications
mpd-module-update # update the mpd module check
redshift -l 38.9:77.0 -t 6500:3500 & # redshift
