#!/usr/bin/env sh

mpd &                                # music player daemon
.fehbg &                             # background
xset r rate 300 50 &                 # speed xrate up
unclutter &                          # remove idle mouse
xcompmgr &                           # transparency
$STATUSBAR &                         # start the status bar
dunst &                              # notifications
redshift -l 38.9:77.0 -t 6500:2500 & # redshift
