#!/usr/bin/env sh

mpd &                                # music player daemon
.fehbg &                             # background
xset r rate 300 50 &                 # speed xrate up
unclutter &                          # remove idle mouse
# picom &                              # transparency
xcompmgr &
dunst &                              # notifications
redshift &

shepherd
